body 
{
    /* Just background stuff */
    background-image: url("Media/cssthingy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 75%;
    background-attachment: fixed;

    /* This magically fixed my mobile issue */
    height: 100vh;
}

#introduction
{
    margin: auto;
    margin-bottom: 50px;
    background-color: rgba(138, 43, 226, 0.75);
    padding: 5px;
    padding-bottom: 15px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    border: 5px solid rgb(56, 165, 255);
}

main
{
    margin: auto;
    background-color: rgba(138, 43, 226, 0.75);
    padding: 5px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 5px solid rgb(56, 165, 255);

}

h2
{
    text-align: center;
}

aside
{
    font-size: 14px;
}

.small-image
{
    width: 25%;
    height: auto;
}

/* Here's how a navigation bar is done! */
#navigation-bar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff5ef2;
    display: inline-block
}

.navbar-item
{
    float: left;
}

.navbar-item a 
{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar-item a:hover
{
    background-color: #a2f1ff;
}

#navbar-item-left-a
{
    border: #a2f1ff solid 4px;
    border-right: #a2f1ff solid 2px;
}

#navbar-item-right-a
{
    border: #a2f1ff solid 4px;
    border-left: #a2f1ff solid 2px;

}

.navbar-item-middle-a
{
    border: #a2f1ff solid 4px;
    border-left: #a2f1ff solid 2px;
    border-right: #a2f1ff solid 2px;
}
/* Though, this one doesn't sit on top of your screen. */

ol
{
    border: #a2f1ff solid 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

.list-title
{
    margin: 4px;
    padding: 0px;
}

#div-stuff
{
    margin: auto;
    background-color: rgb(239, 115, 255);
    padding: 5px;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 5px solid rgb(255, 56, 189);

}

#container-thing
{
    width: 100%;
    overflow: auto;
}

#container-thing div
{
    width: 33%;
    float: left;
}

.inline-div-thing
{
    width: 30%;
    display: inline-block;
}

#conclusion
{
    margin: auto;
    margin-top: 50px;
    background-color: rgba(138, 43, 226, 0.75);
    padding: 5px;
    padding-bottom: 15px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    border: 5px solid rgb(56, 165, 255);
}