body 
{
    /* Just background stuff */
    background-image: url("Media/10000days.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;

    /* This magically fixed my mobile issue */
    height: 100vh;

    margin: 0px
}

/* Top Navigation bar */
#topnav
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #ffffff;}

.topnav-item
{
    float: left;
}

.topnav-item a 
{
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif
}

.topnav-item a:hover
{
    background-color: #b9b9b9;
}

#topnav-item-left-a
{
    border: #b9b9b9 solid 4px;
    border-right: #b9b9b9 solid 2px;
}

#topnav-item-right-a
{
    border: #b9b9b9 solid 4px;
    border-left: #b9b9b9 solid 2px;

}

.topnav-item-middle-a
{
    border: #b9b9b9 solid 4px;
    border-left: #b9b9b9 solid 2px;
    border-right: #b9b9b9 solid 2px;
}
/* ^^^ Top Navigation Bar ^^^ */

#introduction
{
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(63, 63, 63, 0.75);
    padding: 5px;
    padding-bottom: 15px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
}

main
{
    margin: auto;
    background-color: rgba(63, 63, 63, 0.75);
    padding: 5px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 5px solid rgb(255, 255, 255);

}

h2 
{
    text-align: center;
}

#tip-calculator 
{
    margin: auto;
    display: block;
    background-color: rgba(67, 80, 54, 0.75);
    border: 2px dashed white;
}